@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "PathwayExtreme";
}

.horizontal-between-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
